.container
  - if @lightning_talk.errors.present?
    - @lightning_talk.errors.full_messages.each do |message|
      .alert.alert-danger
        = message
  = form_for ([@user, @lightning_talk]), html: {class: "form-horizontal"} do |f|
    .form-group
      = f.label :name, "Talk Topic", class: "control-label col-md-2"
      .col-md-9
        = f.text_field :name, class: "form-control"
    - if new_form
      .form-group
        = f.label :day_id, class: "control-label col-md-2"
        .col-md-6
          = f.select :day_id, options_from_collection_for_select(@days, "id", "talk_date"), {}, class: "form-control"
    .form-group
      .col-md-offset-2.col-md-9
        = f.submit submit_button, class: "btn btn-primary"
