.container
  .page-header
    .pull-right
      = link_to 'New Lightning Talk Admin', new_admin_lightning_talk_path, class: 'btn btn-pink'
    %h1 Manage Talks
  %table.table.table-striped
    %thead
      %th Name
      %th User
      %th Date
    %tbody
      - @lightning_talks.each do |lightning_talk|
        %tr
          %td= lightning_talk.name
          %td= lightning_talk.user.username
          %td= lightning_talk.day.talk_date.strftime('%m/%d/%Y')
          %td.pull-right
            = link_to 'Edit', edit_admin_lightning_talk_path(lightning_talk), class: 'btn btn-primary'
            = link_to 'Delete', admin_lightning_talk_path(lightning_talk), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
  = paginate @lightning_talks, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-md'
